## Deliverable 3. Create a Travel Itinerary Map.

In [47]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [48]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,8,Rikitea,PF,76.59,overcast clouds,-23.1203,-134.9692,People ThankYou
1,11,Kapaa,US,85.98,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
2,12,Hithadhoo,MV,85.53,overcast clouds,-0.6000,73.0833,Scoop Guest House
3,16,Saraland,US,81.32,few clouds,30.8207,-88.0706,Microtel Inn & Suites by Wyndham Saraland/Nort...
4,24,Cozumel,MX,82.47,scattered clouds,20.5083,-86.9458,Cozumel Palace® All Inclusive Resort

In [49]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [50]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [56]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]== "Axim")]
vacation_end = vacation_df.loc[(vacation_df["City"]== "Axim")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]== "Harper")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]== "Tabou")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"]== "San-Pedro")]

In [57]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
144,484,Axim,GH,79.93,overcast clouds,4.8699,-2.2405,Axim Beach Resort And Spa

In [58]:
(vacation_start.to_numpy()[0][5], vacation_start.to_numpy()[0][6])

(4.8699, -2.2405)

In [59]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start.to_numpy()[0][5], vacation_start.to_numpy()[0][6])
end = (vacation_end.to_numpy()[0][5], vacation_end.to_numpy()[0][6])
stop1 = (vacation_stop1.to_numpy()[0][5], vacation_stop1.to_numpy()[0][6])
stop2 = (vacation_stop2.to_numpy()[0][5], vacation_stop2.to_numpy()[0][6])
stop3 = (vacation_stop3.to_numpy()[0][5], vacation_stop3.to_numpy()[0][6])

In [60]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
cities_directions = gmaps.directions_layer(start,end,waypoints=[stop1,stop2,stop3],travel_mode = "DRIVING")
fig.add_layer(cities_directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [61]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,484,Axim,GH,79.93,overcast clouds,4.8699,-2.2405,Axim Beach Resort And Spa
1,72,Harper,LR,80.67,scattered clouds,4.3750,-7.7169,Screensaver
2,309,Tabou,CI,80.67,scattered clouds,4.4230,-7.3528,hotêl doufoulougou
3,593,San-Pedro,CI,80.24,scattered clouds,4.7485,-6.6363,Hotel Maria

In [62]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [63]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))